@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;

}

body {}

.primary-color {
    color: #4e1eae;
}

.bg-primary {
    background-color: #4e1eae;
}

.container {

    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

}

nav>div>h1 {
    font-weight: 700;
    font-size: 24px;
    color: rgb(0, 0, 0);
}


.nav-button {
    display: flex;
    gap: 15px;

}

.nav-button>p>a {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: black;
}

i {
    color: rgb(0, 0, 0);
    font-size: larger;
    font-weight: bold;
}

/* #search{
    

    background-color: blue;
}
#search:hover{
   width: 50px;
    
} */

/* banner section style  */
.banner {
    display: flex;
    padding: 25px;
    border-radius: 25px;
    color: white;

}

.left-banner {
    width: 50%;
}

.left-banner>h1 {
    font-weight: 700;
    font-size: 52px;
}

.left-banner>p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 16px;
}

.right-banner {
    width: 50%;
    text-align: center;
}

.btn-pri {
    display: block;
    color: rgb(0, 0, 0);

    width: 196px;
    height: 44px;
    border-radius: 25px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    border: none;
    background: linear-gradient(to right, #4e1eae 50%, #f2ff7d 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: all .5s ease-out;


}

.btn-pri:hover {
    
    color: rgb(255, 255, 255);
    border: 2px solid white;
    background-position: left;
    background-size: 200% 100%;


}

.btn-top>i {
    margin-left: 5px;
    color: black;

}

.btn-pri:hover .fa-arrow-right {
    color: rgb(255, 255, 255);
}

/* banner setion end */


.company {
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
    
   
}

/* Popular-Collection style star  */

.Popular-Collection >h1{
    text-align: center;
    font-weight: 600;
font-size: 28px;
}
.items{
    padding: 0px 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    margin: 50px;
}



.item{
    border: 2px solid black;
    padding: 15px;
    height: auto;
    border-radius: 15px;
   
}
.item > img{
    width: 100%;
    margin-bottom: 16px;
    
}
.item > h3{
    font-weight: 500;
font-size: 28px;
margin-bottom: 5px;
}
.item > h5{
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 5px;
}
.item > div {
    font-weight: 400;
font-size: 12px;
margin-bottom: 5px;
}
.item > div >p >i{
    color:  #FB8200;
    margin-bottom: 5px;
    padding: 0px;
}
.item >p{
    font-weight: 700;
font-size: 14px;
color: #787885;
margin-bottom: 5px;
}


/* responsive  */
@media screen and (max-width:1200px)
{
    .items{
        grid-template-columns: repeat(2,1fr);
    }
    .last-item{
        display: none;
    }

}


@media screen and (max-width:900px){

    .banner{
        flex-direction: column-reverse;
        width: auto;
        display: flex;
        text-align: center;
        
        
    }

    .left-banner {
        height: 50%;
        width: 100%;
    }
    .left-banner >h1{
        width: 100%;
        font-size: 2em;
    }
    .right-banner {
        height: 50%;
        width: 100%;
        text-align: center;
    }
    .btn-top{
        
        
        display: inline;
    }
    .items{
        grid-template-columns: repeat(1,1fr);
        margin: 0px;
        padding: 0px;
    }

    .company {
    
        display: flex;
       flex-wrap: wrap;
       height: auto;
       width: auto;
       gap: 15px;
       
        
       
    }
    .right-banner >img{
        width: 100%;
    }

    .nav-button {
        display: none;
        
    
    }
    nav{
        justify-content: center;
    }
    nav>div>h1 {
    

        font-weight: 700;
        font-size: 1em;
        color: rgb(0, 0, 0);
        text-align: center;
    }

}

